<section class="bef bef-p-2rem">
  <h1>Check Out</h1>
  
  <h3>{{user.firstname}} {{user.lastname}}</h3>
  
  <h3>Tu compra: </h3>
  <div class="bef bef-display-flex bef-justifyContent-center">
    {{#each cartSel}}
    <div class="total-data bef bef-p-0_6rem bef-border-solid__2px__grey bef-mx-1rem" >
      <h3 class="bef bef-display-flex bef-justifyContent-center">{{this.title}}</h3>
      <p class="bef bef-display-flex bef-justifyContent-center">{{this.description}}</p>
      <p class="bef bef-display-flex bef-justifyContent-center" data-price="{{this.price}}" >$ {{this.price}}</p>
      <p class="bef bef-display-flex bef-justifyContent-center" data-quantity="{{this.quantity}}">Cantidad de producto: {{this.quantity}}</p>
    </div>
    {{/each}}
    
  </div>
  <h3>Total: ${{total}}</h3>
  <h3 ><a class="bef bef-textDecoration-none" href="/carts/{{cid}}/purchase/{{user._id}}">Pagar</a></h3>
  
</section>




