<h1>bienvenido: {{user.firstname}} {{user.lastname}}</h1>
<h4>Rol: {{user.rol}}</h4>
{{#if user.credential}}
  <button><a href="">chat</a></button>
  <button><a href="/products">store</a></button>
{{/if}}

{{#if user.credential2}}
  <a href="/views/products">add products</a>
  
{{/if}}
{{#if cartProducts}}
<ul>
  {{#each cartProducts}}
  <li><h3>{{this.title}}</h3></li>
  <p>{{this.description}}</p>
  <button>Eliminate</button> 
  {{#if this.message}}
  <p style="color: red;">{{this.message}}</p>
  {{/if}}
  
  {{/each}}
</ul>
{{else}}
  <h2>no hay productos en su carrito</h2>
{{/if}}
{{#if ticketInfo}}
  <h3>esta es la info de su compra</h3>
  <p>Codigo de Compra: {{ticketInfo.code}}</p>
  <p>Fecha de Compra: {{ticketInfo.date}}</p>
  <p>Total: ${{ticketInfo.amount}}</p>
  {{/if}}
  <h3><a href="/views/addProduct">Comprar Artículos</a></h3>




<a href="/users/logout">Logout</a>
<a href="/products">Ir a tienda</a>