<h1>bienvenido: {{user.firstname}} {{user.lastname}}</h1>
<h4>Rol: {{user.rol}}</h4>
<ul>
  {{#each cartProducts}}
  <li><h3>{{this.title}}</h3></li>
  <p>{{this.description}}</p> 
  {{/each}}
</ul>


<form action="/logout">
<button type="submit">Logout</button></form>