<h1>bienvenido: {{user.firstname}} {{user.lastname}}</h1>
<h4>Rol: {{user.rol}}</h4>
{{#if user.credential}}
  <button><a href="">chat</a></button>
  <button><a href="/products">store</a></button>
{{/if}}

{{#if user.credential2}}
  <button><a href="/views/products">add products</a></button>
  <button><a href="">update products</a></button>
{{/if}}
<ul>
  {{#each cartProducts}}
  <li><h3>{{this.title}}</h3></li>
  <p>{{this.description}}</p>
  <button>Eliminate</button> 
  {{#if this.message}}
  <p style="color: red;">{{this.message}}</p>
  {{/if}}
  {{/each}}
</ul>
{{#if ticketInfo}}
  <h3>esta es la info de su compra,{{ticketInfo}}</h3>
  {{/if}}
<button ><a href="/carts/{{user.cart._id}}/purchase/{{user._id}}">comprar</a></button>


<form action="/logout">
<button type="submit">Logout</button></form>