<h1>Products</h1>

<ul>
  {{#each products}}
  <li><h3>{{this.title}}</h3></li>
  <p>{{this.description}}</p>
  {{/each}}
</ul>

{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}


{{#if hasNextPage}}
<a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}



<p>{{currentPage}} de {{totalPages}}</p>