<h1>Products</h1>

<h3><a href="">Comprar Artículos</a></h3>



  {{#each products}}
<div>
  <h3>{{this.title}}</h3>
  <p>{{this.description}}</p>
  <p>${{this.price}}</p>
 
  
  <button type="submit" class="agregar-producto-btn" data-product-id="{{this._id}}" data-userCart-id="{{../userCart}}">Agregar a Carrito</button>
</div>
  {{/each}}

  <a href="/views/products">Agrega Producto</a>
  <br/>
  <br/>

{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}


{{#if hasNextPage}}
<a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}



<p>{{currentPage}} de {{totalPages}}</p>

<script src="./cartManager.js"></script>