<section class="bef bef-p-3rem">
  <h1>Su ticket</h1>
  <div>
    
        <h2>{{user.firstname}} {{user.lastname}}</h2>
        <h3>Código: {{ticketInfo.code}}</h3>
        <p>Fecha: {{ticketInfo.purchaseDate}}</p>
        <p>${{ticketInfo.amount}}</p>
   
  </div>
  <a href="/users/current">Regresar a su perfil</a>
</section>

